/* #tabs{ */
	/* border-style: none none none none; */
	/* margin-top: 0px; */
	/* font-size: 18px; */
	/* text-align: center; */
	/* vertical-align: middle; */
	/* color: black; */
	/* background-color: #3c3c3d; */
/* } */

.tab{
	border-style: none none none none !important;
	
}

/* .tabs{ */
	/* border-style: solid solid solid solid; */
	/* border-width: 0px; */
	/* margin-top: 0px; */
	/* font-size: 18px; */
	/* text-align: center; */
	/* vertical-align: middle; */
	/* color: black; */
	/* background-color: #3c3c3b; */
/* } */


.custom-tab {
	border-radius:0.25rem;
	padding: 12px !important;
	font-family: Segoe UI;
	display: flex !important;
	align-items: center;
	justify-content: center;
	background-color: #3c3c3b;
	font-weight: bold;
}

/* .custom-tab--selected{ */
	/* border-left: 1px solid lightgrey !important; */
	/* border-right: 1px solid lightgrey !important; */
	/* border-top: 0px solid #D71B1B  !important; */
	/* position: sticky; */
	/* font-weight: 800; */
	/* top: 0px; */
/* } */